:root {
    --light-color-1: #F7FAFC;
    --light-color-2: #E2EEF7; 
    --dark-color-1: #63B3ED;
    --dark-color-2: #006bcf;
    --text-color-dark: #000000;
    --text-color-light: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--light-color-1);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    color: var(--text-color-dark);
}

header {
    background-color: var(--light-color-1);
    padding: 20px;
    text-align: center;
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 36px;
    color: var(--text-color-dark);
}

main {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#Menu, #Game {
    text-align: center;
    align-items: center;
    width: 100%;
}

#PlayButton, #MenuButton {
    font-family: Arial, sans-serif;
    padding: 1vh 2vh;
    margin: 1vh auto;
    background-color: var(--dark-color-2);
    color: var(--text-color-light);
    cursor: pointer;
    font-size: 2vh;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#PlayButton:hover, #MenuButton:hover {
    background-color: var(--dark-color-1);
}

#PlayButton:active, #MenuButton:active {
    background-color: var(--dark-color-1);
}

.score-container {
    display: flex;
    justify-content: center;
    gap: 1vh;
    margin-bottom: 1vh;
}

.score-box {
    background-color: var(--dark-color-2);
    color: var(--text-color-light);
    padding: 1vh 2vh;
    border-radius: 5px;
    font-size: 3vh;
    font-weight: bold;
    border: 2px solid var(--text-color-dark);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 8vh);
    gap: 1vh;
    background-color: var(--light-color-2);
    border: 2px solid var(--text-color-dark);
    padding: 1vh;
    margin: 2vh auto;
    width: max-content;
}

.grid-item {
    background-color: var(--dark-color-1);
    color: var(--text-color-light);
    border: 2px solid var(--text-color-dark);
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8vh;
    height: 8vh;
    padding: 1vh;
    font-size: 6vh;
    cursor: pointer;
    transition: background-color 0.3s;
}

.grid-item:disabled {
    background-color: var(--dark-color-1);
    cursor: default;
}

.grid-item:hover:not(:disabled) {
    background-color: var(--light-color-2);
    color: var(--text-color-dark);
}

.bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: calc(40vh + 6vh);
    margin: 2vh auto;
    height: 10vh;
}

.player-words-box {
    width: calc(100% - 10vh);
    height: 10vh;
    border: 2px solid var(--text-color-dark);
    background-color: var(--light-color-2);
    padding: 0.5vh;
    text-align: left;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.player-words-box h3 {
    margin-bottom: 0.5vh;
    text-align: center;
    font-size: 1.5vh;
    color: var(--text-color-dark);
}

#PlayerWordsList {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 0.5vh;
}

#PlayerWordsList::-webkit-scrollbar {
    width: 0.5vh;
}

#PlayerWordsList::-webkit-scrollbar-thumb {
    background-color: var(--dark-color-2);
    border-radius: 0.25vh;
}

#PlayerWordsList::-webkit-scrollbar-track {
    background-color: var(--light-color-3);
}

#PlayerWordsList span {
    background-color: var(--dark-color-2);
    color: var(--text-color-light);
    padding: 0.25vh 0.5vh;
    border-radius: 3px;
    font-size: 1.5vh;
    white-space: nowrap;
}

.current-letter-container {
    width: 8vh;
    height: 8vh;
    margin-left: 2vh;
}

.current-letter-box {
    background-color: var(--dark-color-1);
    color: var(--text-color-light);
    border: 2px solid var(--text-color-dark);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vh;
}

footer {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 10px;
    background-color: var(--light-color-1);
    color: var(--text-color-dark);
    margin-top: auto;
    border-top: 2px solid var(--text-color-dark);
}